@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: url('Roboto.otf') format(opentype);
}

:root {
    --cor0: #BBE8F2;
    --cor1: #6CC5D9;
    --cor2: #94D7F2;
    --cor3: #55B3D9;
    --cor4: #3F5F73;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif; 
    
}

header {
    height: 1080px;
    background: var(--cor0) url(imagens/banner-header.jpg) top center no-repeat fixed;
    background-size: cover;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 4em;
    padding: 400px 0px 2px 0px;
    font-weight: bolder;
}

header p {
    text-align: center;
    font-family: 'Roboto',sans-serif;
    color: white;
    font-size: 1.5em;
    font-weight: light;
}

nav {
    background-color: var(--cor4);
    padding: 25px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.356);

}

nav a {
    color: white;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    

}

main {
    background-color: white;
    margin: auto;
    max-width: 1000px;
    min-width: 300px;
    padding: 10px;
    border-radius: 5px; 
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 1.8em;
    font-weight: normal;
}

main h2 {
    font-weight: normal;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main img {
    width: 100%;
}

footer {
    background-color: var(--cor4);
}

footer p {
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-size: 0.8em;

}




